/node_modules
/frontend/node_modules
/frontend/dist
/frontend-vue/node_modules
/frontend-vue/dist
/vendor
/.idea
/.vscode
.DS_Store
Thumbs.db
*.log

.env
.env.backup
.env.production
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
